.chatDetail{
  .chatGroup{width: 100%;height: auto;padding-top: 16px;}
  .chatGroup .chatItem{width: 100%;height: auto;position: relative;}
  .chatGroup .chatItem .timeInfo{width: 100%;text-align: center;}
  .chatGroup .chatItem .inputTime{width: auto;height: 2rem;line-height: 2rem;padding: 0 1rem;border-radius: 2rem;background: #ccc;color: #fff;}
  .chatGroup .chatItem .chatMessage{width: 100%;padding: 16px;}
  .chatGroup .chatItem .chatMessage .userHeader{width: 4.6rem;height: 4.6rem;border-radius: 0.4rem;float: left;margin-right: 16px;}
  .chatGroup .chatItem.selfItem .chatMessage .userHeader{float: right;margin-right: 0px;margin-left: 16px;}
  .chatGroup .chatItem .chatMessage .talkItem{float: left;width: auto;max-width: 70%;background: #fff;border-radius: 0.4rem;padding: 14px 6px;position: relative;font-size: 1.6rem;}
  .chatGroup .chatItem .chatMessage .talkItem .talkErrow{width: 10px;height: 10px;position: absolute;left: -10px;top: 16px; border-right: 8px solid;    border-top: 8px solid transparent;  border-bottom: 8px solid transparent; color: #fff;}
  .chatGroup .chatItem .chatMessage .userHeader img{width: 4.6rem;height: 4.6rem;border-radius: 0.4rem}
  .chatGroup .chatItem.selfItem .chatMessage .talkItem{float: right;background: #ffafb0;}
  .chatGroup .chatItem.selfItem .chatMessage .talkItem .talkErrow{right: -10px;left: auto; border-left: 8px solid;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right: none;color: #ffafb0}
  .chatGroup .chatItem .chatMessage .talkItem.istask,.chatGroup .chatItem .chatMessage .talkItem.isClue{background: #fff;}
  .chatGroup .chatItem .chatMessage .talkItem.istask .talkErrow{color: #fff;}
  .chatGroup .chatItem .chatMessage .talkItem.isClue .talkErrow{color: #7b7e8a;top: 8px;}

  .chatGroup .chatItem .chatMessage .talkItem.istask .talk .title{font-size: 1.8rem;text-align: justify}
  .chatGroup .chatItem .chatMessage .talkItem.istask .talk .task{width: 100%;}
  .chatGroup .chatItem .chatMessage .talkItem.istask .talk .task .taskmsg{width:72%;text-align: justify;font-size: 1.4rem;color: #999;}
  .chatGroup .chatItem .chatMessage .talkItem.istask .talk .task .picInfo{width: 22%;padding-top: 0.4rem;}

  /*销售线索样式*/
  .chatGroup .chatItem .chatMessage .talkItem.isClue{padding:0;}
  .chatGroup .chatItem .chatMessage .talkItem.isClue .clueTop{width: 100%;color: #fff;background:#7b7e8a;padding: 6px 12px; font-size: 1.4rem;font-weight: normal;border-top-left-radius:0.4rem;border-top-right-radius: 0.4rem; }
  .chatGroup .chatItem .chatMessage .talkItem.isClue .clueTop ion-icon{font-size: 1.6rem;margin-right: 6px;}
  .chatGroup .chatItem .chatMessage .talkItem.isClue .clueDetail{padding: 4px 10px;}
  .chatGroup .chatItem .chatMessage .talkItem.isClue .clueDetail .beizhuInfo{font-size: 1.4rem;color: #999;}
  .chatGroup .chatItem .chatMessage .talkItem.isClue .iconGroup{color: #d0d0d0;border-top:1px solid #e5e5e5;padding: 4px 10px 4px 10px;}
}



.applySaleBtn{width: 80px;height:20px;line-height: 20px; background: white;border-radius: 20px;color:#ff8181;font-size: 0.8rem;padding: 0 5px;}
.greyBg2{background: #f5f5f5}
.platform-ios .toolbar.chatFoot .toolbar-background{background-color: #f8f8f8;border-color: #d8d8d8;}
.platform-ios .toolbar.chatFoot {color: #7f8389; min-height: 54px;height: auto; padding:0;}
.toolbar.chatFoot .toolbar-background-md{background-color: #f8f8f8;border-color: #d8d8d8;border-top: 1px solid #d8d8d8;}

.toolbar.chatFoot {color: #7f8389; min-height: 54px;height: auto;padding:0; }
.inputLine{width: 100%;height: 54px;text-align: center;}
.inputLine .changeBtn{color: #7f8389;width: 54px;line-height: 54px;font-size: 2.4rem;text-align: center;}
.inputLine .changeBtn.fl{border-right: 1px solid #d8d8d8;}
.inputLine .changeBtn.fr{width: 40px;text-align: left}
.inputLine .inputPart{width:auto; }
.inputLine input{border: 1px solid #d8d8d8;height: 40px;border-radius: 0.4rem;width:60% ;margin-top: 7px;}
.submitLine{background: #fff;color: #7f8488}
.submitLine .changeBtn{color:#7f8488 }
.submitLine .submintBtn{height: 54px;line-height: 54px;font-size: 1.8rem}
.submitLine .submintBtn ion-icon{color: #999;margin-right: 10px;}
.expression{width: 100%;height: 140px;background: #fff;}
.expression  .swiper-pagination{bottom: 5px;}

.emojiBox{width: 100%;}
.emojiBox img{margin: 5px 5px;}
